<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>3-GB - Blogs</title>
    <!-- google-fonts -->
    <link rel="icon" href="assets/images/circle.ico" height="16px" type="x-icon" />

    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link rel="stylesheet" href="assets/css/style-liberty.css">
</head>

<body>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
            }
        })();
    </script>


    <meta name="robots" content="noindex">

    <body>
        <!-- <link rel="stylesheet" href="/assests/css/font-awesome.min.css"> -->
        <!-- New toolbar-->
        <style>
            * {
                box-sizing: border-box;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            }


            #w3lDemoBar.w3l-demo-bar {
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 9999;
                padding: 40px 5px;
                padding-top: 70px;
                margin-bottom: 70px;
                background: #0D1326;
                border-top-left-radius: 9px;
                border-bottom-left-radius: 9px;
            }

            #w3lDemoBar.w3l-demo-bar a {
                display: block;
                color: #e6ebff;
                text-decoration: none;
                line-height: 24px;
                opacity: .6;
                margin-bottom: 20px;
                text-align: center;
            }

            #w3lDemoBar.w3l-demo-bar span.w3l-icon {
                display: block;
            }

            #w3lDemoBar.w3l-demo-bar a:hover {
                opacity: 1;
            }

            #w3lDemoBar.w3l-demo-bar .w3l-icon svg {
                color: #e6ebff;
            }

            #w3lDemoBar.w3l-demo-bar .responsive-icons {
                margin-top: 30px;
                border-top: 1px solid #41414d;
                padding-top: 40px;
            }

            #w3lDemoBar.w3l-demo-bar .demo-btns {
                border-top: 1px solid #41414d;
                padding-top: 30px;
            }

            #w3lDemoBar.w3l-demo-bar .responsive-icons a span.fa {
                font-size: 26px;
            }

            #w3lDemoBar.w3l-demo-bar .no-margin-bottom {
                margin-bottom: 0;
            }

            .toggle-right-sidebar span {
                background: #0D1326;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #e6ebff;
                border-radius: 50px;
                font-size: 26px;
                cursor: pointer;
                opacity: .5;
            }

            .pull-right {
                float: right;
                position: fixed;
                right: 0px;
                top: 70px;
                width: 90px;
                z-index: 99999;
                text-align: center;
            }

            /* ============================================================
        RIGHT SIDEBAR SECTION
        ============================================================ */

            #right-sidebar {
                width: 90px;
                position: fixed;
                height: 100%;
                z-index: 1000;
                right: 0px;
                top: 0;
                margin-top: 60px;
                -webkit-transition: all .5s ease-in-out;
                -moz-transition: all .5s ease-in-out;
                -o-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
                overflow-y: auto;
            }


            /* ============================================================
        RIGHT SIDEBAR TOGGLE SECTION
        ============================================================ */

            .hide-right-bar-notifications {
                margin-right: -300px !important;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }



            @media (max-width: 992px) {
                #w3lDemoBar.w3l-demo-bar a.desktop-mode {
                    display: none;

                }
            }

            @media (max-width: 767px) {
                #w3lDemoBar.w3l-demo-bar a.tablet-mode {
                    display: none;

                }
            }

            @media (max-width: 568px) {
                #w3lDemoBar.w3l-demo-bar a.mobile-mode {
                    display: none;
                }

                #w3lDemoBar.w3l-demo-bar .responsive-icons {
                    margin-top: 0px;
                    border-top: none;
                    padding-top: 0px;
                }

                #right-sidebar,
                .pull-right {
                    width: 90px;
                }

                #w3lDemoBar.w3l-demo-bar .no-margin-bottom-mobile {
                    margin-bottom: 0;
                }
            }
        </style>

<%- include('header') %>

       <!-- //inner banner -->
       <div style="margin: 8px auto; display: block; text-align:center;">
        <!---728x90--->
    </div>
    <!-- single post -->
    <!-- blog page -->
    <section class="w3l-blog">
        <div class="text-element-9 py-5">
            <div class="container py-md-5 py-4">
                <div class="row grid-text-9">
                    <div class="col-lg-8">
                        <div class="single-bottom-blog">
                            <div class="top-bg bg-img">
                                <img src="https://miro.medium.com/max/1400/1*0yBxBAlFo2niLaDwMqiu2Q.jpeg" alt="" class="img-fluid img-responsive" />
                            </div>
                            <div class="bottom-grid mt-4 pt-md-2">
                                <ul class="blog-author-date mb-sm-4 mb-3 d-flex justify-content-between align-items-end">
                                    <li class="author"><a href="https://shivangi-160997.medium.com/"><i class="fa fa-user mr-1" aria-hidden="true"></i>By Shivangi Garg</a></li>
                                    <li><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>May 27, 2021</li>
                                </ul>
                                <h3>Artificial Intelligence(AI) </h3>
                                <p>Artificial intelligence (AI) refers to the simulation of human intelligence in machines
                                    that are programmed to think like humans and mimic their actions.</p>
                                <h5><b>What is Artificial Intelligence(AI)?</b></h5>
                                <p>Artificial intelligence (AI) is intelligence demonstrated by machines,
                                    unlike the natural intelligence displayed by humans and animals, which
                                    involves consciousness and emotionality. The goal of AI is to create systems
                                    that can perform tasks that would otherwise require human intelligence. AI
                                    manifests itself in everyday life via virtual assistants, search prediction
                                    technology, and even ride-hailing services.</p>
                                <h5><b>Summary</b></h5>
                                <ol>
                                    <li>
                                        <p>Artificial Intelligence (AI) aims to develop machines that can
                                            accomplish what a human can in terms of reasoning.</p>
                                    </li>
                                    <li>
                                        <p>The four types of artificial intelligence are reactive machines,
                                            limited memory, theory of mind, and self-awareness.</p>
                                    </li>
                                    <li>
                                        <p>Artificial intelligence now affects productivity, employment,
                                            and competitive behavior in significant ways.</p>
                                    </li>
                                </ol>
                                <div class="container mb-4 justify-content-center">
                                    <!-- <div class="column">
                                <div class="box13">
                                    <a href="#gallery-36"><img src="assets/images/c3.jpg" alt=""
                                            class="img-fluid" /></a>
                                </div>
                            </div> -->
                                    <div class="column">
                                        <div class="box13">
                                            <a href="#gallery-36"><img src="https://miro.medium.com/max/773/1*h027knCEHFGKZzDnfSzaEQ.png" alt="" class="img-fluid" /></a>
                                        </div>
                                    </div>
                                </div>
                                <p>The ideal characteristic of artificial intelligence is its ability
                                    to rationalize and take actions that have the best chance of achieving
                                    a specific goal. A subset of artificial intelligence is machine learning,
                                    which refers to the concept that computer programs can automatically
                                    learn from and adapt to new data without being assisted by humans. Deep
                                    learning techniques enable this automatic learning through the absorption
                                    of huge amounts of unstructured data such as text, images, or video.</p>
                            </div>
                            <!-- bottom -->
                            <!-- <div class="d-grid grid-columns mb-4">
                                <div class="column">
                                <div class="box13">
                                    <a href="#gallery-36"><img src="assets/images/c3.jpg" alt=""
                                            class="img-fluid" /></a>
                                </div>
                            </div>
                                <div class="column">
                                    <div class="box13">
                                        <a href="#gallery-36"><img src="assets/images/c4.jpg" alt="" class="img-fluid" /></a>
                                    </div>
                                </div>
                            </div> -->
                            <h4><b>Types of Artificial Intelligence</b></h4>
                            <br />
                            <h5><b>1. Reactive Machines</b></h5>
                            <p class="para-single">Reactive machines perceive present external information and plan
                                actions accordingly. The machines perform specialized duties and only understand
                                the task at hand. The machines’ behavior is consistent, given a repeated situation.
                                In the 1990s, IBM developed a reactive machine named Deep Blue to play competitive chess,
                                predicting chess moves by identifying each piece’s board placement.</p>
                            <h4><b>2. Limited Memory</b></h4>
                            <p class="para-single">Limited memory machines can harness recent observations to make
                                informed decisions. The machines consider observational data in reference to their
                                pre-programmed conceptual framework. The observational data is retained for a limited
                                period and then forgotten.</p>
                            <h4><b>3. Theory of Mind</b></h4>
                            <p class="para-single">Theory of mind machines can form thoughts and make decisions in reference
                                to emotional context; thus, they are able to participate in social interaction. The machines
                                are still in the development stage, however, many exhibit aspects of human-like capability.
                                For example, consider voice assistant applications that can comprehend basic speech prompts
                                and commands but cannot hold a conversation</p>
                            <h4><b>4. Self-Awareness</b></h4>
                            <p class="para-single">Self-awareness machines demonstrate intelligent behavior through ideation,
                                the formation of desires, and understanding their internal states. In 1950, Alan Turing developed
                                the Turing Test to identify machines that could behave indistinguishably from a human being.</p>
                            <h4><b>Understanding Artificial Intelligence (AI)</b></h4>
                            <p class="para-single">When most people hear the term artificial intelligence, the first thing they
                                usually think of is robots. That’s because big-budget films and novels weave stories about
                                human-like machines that wreak havoc on Earth. But nothing could be further from the truth.</p>
                            <p>Artificial intelligence is based on the principle that human intelligence can be defined in a
                                way that a machine can easily mimic it and execute tasks, from the most simple to those that
                                are even more complex. The goals of artificial intelligence include mimicking human cognitive activity.
                                Researchers and developers in the field are making surprisingly rapid strides in mimicking activities
                                such as learning, reasoning, and perception, to the extent that these can be concretely defined. Some
                                believe that innovators may soon be able to develop systems that exceed the capacity of humans to learn
                                or reason out any subject. But others remain skeptical because all cognitive activity is laced with value
                                judgments that are subject to human experience.</p>
                            <p>As technology advances, previous benchmarks that defined artificial intelligence become outdated. For example,
                                machines that calculate basic functions or recognize text through optical character recognition are no longer
                                considered to embody artificial intelligence, since this function is now taken for granted as an
                                inherent computer function.</p>
                            <p>AI is continuously evolving to benefit many different industries. Machines are wired using a cross-disciplinary
                                approach based on mathematics, computer science, linguistics, psychology, and more.</p>
                            <h3><b>What are the Advantages of Artificial Intelligence?</b></h3>
                            <p>There’s no doubt in the fact that technology has made our life better. From music recommendations, map directions,
                                mobile banking to fraud prevention, AI and other technologies have taken over. There’s a fine line between
                                advancement and destruction. There’s always two sides to a coin, and that is the case with AI as well. Let us
                                take a look at some advantages of Artificial Intelligence-</p>
                            <h4><b>Advantages of Artificial Intelligence (AI)</b></h4>
                            <ol>
                                <li>
                                    <p>Reduction in human error</p>
                                </li>
                                <li>
                                    <p>Available 24 x 7</p>
                                </li>
                                <li>
                                    <p>Helps in repetetive work</p>
                                </li>
                                <li>
                                    <p>Digital Assistance</p>
                                </li>
                                <li>
                                    <p>Faster Decisions</p>
                                </li>
                                <li>
                                    <p>Rational Decision Maker</p>
                                </li>
                                <li>
                                    <p>Medical Applications</p>
                                </li>
                                <li>
                                    <p>Improves Security</p>
                                </li>
                                <li>
                                    <p>Efficient Communcation</p>
                                </li>
                            </ol>
                            <div class="container mb-4 justify-content-center">
                                <!-- <div class="column">
                                <div class="box13">
                                    <a href="#gallery-36"><img src="assets/images/c3.jpg" alt=""
                                            class="img-fluid" /></a>
                                </div>
                            </div> -->
                                <div class="column">
                                    <div class="box13">
                                        <a href="#gallery-36"><img src="https://miro.medium.com/max/1050/1*YyAERuWwl3hZDHMo9uVlSw.jpeg" alt="" class="img-fluid" /></a>
                                    </div>
                                </div>
                            </div>
                            <h4><b>
                            Career Trends in Artificial Intelligence
                            </b></h4>
                            <p>
                            Jobs in AI have been steadily increasing over the past 
                            few years and will continue growing at an accelerating rate. 57% of Indian companies are looking forward to hiring the right 
                            talent to match up the Market Sentiment. On average, there has been a 60–70% hike in salaries of aspirants who have successfully transitioned
                             into AI roles. Mumbai stays tall in the competition followed by Bangalore and Chennai. As per research, the demand for AI Jobs have increased but
                              efficient workforce has not been keeping pace with it. As per WEF, 175 million jobs would be created in Artificial Intelligence by the year 2022.
                            </p>
                            <div class="buttons-singles">
                                <a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                <a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                <a href="#google-plus"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                <a href="#pinterest"><span class="fa fa-pinterest-p" aria-hidden=" true"></span></a>
                            </div>

                            <div class="single-pagination clearfix">
                                <a class="prev-post pull-left" href="/blogs"><span class="fa fa-arrow-left" aria-hidden="true"></span>
                                    Back to Blogs</a>
                                <!-- <a class="next-post pull-right" href="#next">Next Post <span class="fa fa-arrow-right"
                                    aria-hidden="true"></span></a> -->
                            </div>

                            <div class="comments mt-5">
                                <h3 class="post-title">Comments</h3>
                                <div class="media mt-4 bod-1">
                                    <div class="img-circle">
                                        <img src="assets/images/team1.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div class="media-body">
                                        <div class="medi-top mb-2">
                                            <a href="#URL" class="name mt-0">John smi</a>
                                            <span>14 Sep, 2020 </span>
                                        </div>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus tempus viverra turpis. Fusce nunc ac in vulputate
                                            odio, in vulputate at, nunc ac.</p>
                                        <a href="#reply" class="rep">Reply</a>
                                        <div class="media mt-4 bod-2 mb-0 pb-0 px-0">
                                            <a class="img-circle img-circle-sm" href="#">
                                                <img src="assets/images/team2.jpg" class="img-fluid" alt="...">
                                            </a>
                                            <div class="media-body">
                                                <div class="medi-top mb-2">
                                                    <a href="#URL" class="name mt-0">Alexander</a>
                                                    <span>14 Sep, 2020 </span>
                                                </div>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                                    scelerisque ante
                                                    sollicitudin. Cras purus odio, vestibulum at.</p>
                                                <a href="#reply" class="rep">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="media bod-3">
                                    <div class="img-circle">
                                        <img src="assets/images/team3.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div class="media-body">
                                        <div class="medi-top mb-2">
                                            <a href="#URL" class="name mt-0">Elizabeth</a>
                                            <span>14 Sep, 2020 </span>
                                        </div>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                            sollicitudin. Cras purus
                                            odio, in vulputate at, viverra turpis, ac.</p>
                                        <a href="#reply" class="rep">Reply</a>
                                    </div>
                                </div>
                            </div>

                            <div class="reply mt-5">
                                <h3 class="post-title py-3 mb-2">Add a Comment</h3>
                                <form action="#" method="POST">
                                    <div class="form-group reply">
                                        <div class="row">
                                            <div class="col-sm-6 leave-coment-left">
                                                <input type="text" name="Name" class="form-control" placeholder="Name" required="">
                                            </div>
                                            <div class="col-sm-6 leave-coment-right">
                                                <input type="email" name="Email" class="form-control" placeholder="Email" required="">
                                            </div>
                                        </div>
                                        <textarea class="form-control" placeholder="Your Message" id="exampleFormControlTextarea1" rows="4"></textarea>
                                        <div class="text-right">
                                            <button class="btn btn-style btn-style-secondary mt-4" type="submit">Post
                                                Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 left-text-9 mt-lg-0 mt-5 pl-lg-4">
                        <div class="blog-search">
                            <form action="#" method="GET" class="d-flex search-form">
                                <input type="search" class="form-control" placeholder="Search..." name="search" required="required">
                                <button type="submit" class="btn search-btn"><span class="fa fa-search"></span></button>
                            </form>
                        </div>

                        <div class="categories left-aside mt-5">
                            <h6 class="heading-small-text-9">Categories</h6>
                            <ul>
                                <li>
                                    <a href="/sampleblog-1" class="">
                                        Artificial Intelligence</a>
                                </li>
                                <li>
                                    <a href="/samplebog-3" class="">
                                        E-Learning</a>
                                </li>
                                <li>
                                    <a href="/samplebog-3" class="">
                                        O3 Education</a>
                                </li>
                                <li>
                                    <a href="/sampleblog-2" class=""> Technology</a>
                                </li>
                                <li>
                                    <a href="/samplebog-3" class="">
                                        Tutoring</a>
                                </li>
                            </ul>
                        </div>

                        <div class="left-top-9 left-aside mt-5">
                            <h6 class="heading-small-text-9 mb-3">Popular Post</h6>
                            <div class="d-flex align-items-center">
                                <img src="assets/images/blog1.jpg" alt="" class="img-fluid mr-3" />
                                <div class="content-blog">
                                    <a href="/sampleblog-1" class="p-post d-block">
                                        <h6 class="text-left-inner-9">Artificial Intelligence
                                        </h6>
                                    </a>
                                    <span class="sub-inner-text-9">May 06, 2021</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center mt-4">
                                <img src="assets/images/blog2.jpg" alt="" class="img-fluid mr-3" />
                                <div class="content-blog">
                                    <a href="/sampleblog-3" class="p-post d-block">
                                        <h6 class="text-left-inner-9">Challenges faced by Students in Online Learning
                                        </h6>
                                    </a>
                                    <span class="sub-inner-text-9">May 06, 2021</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center mt-4">
                                <img src="assets/images/blog3.jpg" alt="" class="img-fluid mr-3" />
                                <div class="content-blog">
                                    <a href="/sampleblog-2" class="p-post d-block">
                                        <h6 class="text-left-inner-9">2 Minutes with AI and The Future of Mankind!
                                        </h6>
                                    </a>
                                    <span class="sub-inner-text-9">May 06, 2021</span>
                                </div>
                            </div>
                        </div>

                        <div class="categories left-aside mt-5">
                            <h6 class="heading-small-text-9">Archives</h6>
                            <ul>
                                <li>
                                    <a href="/sampleblog" class="">January 2019</a>
                                </li>
                                <li>
                                    <a href="/sampleblog" class="">February 2018</a>
                                </li>
                                <li>
                                    <a href="/sampleblog" class="">March 2018</a>
                                </li>
                                <li>
                                    <a href="/sampleblog" class="">April 2017</a>
                                </li>

                                <li>
                                    <a href="/sampleblog" class="">May 2016</a>
                                </li>

                            </ul>
                        </div>

                        <div class="tags-block left-aside mt-5">
                            <h6 class="heading-small-text-9">Tags</h6>
                            <a href="/sampleblog" class="">Learn</a>

                            <a href="/sampleblog" class="">Skills</a>

                            <a href="/sampleblog" class="">Education</a>

                            <a href="/sampleblog" class="">Website</a>

                            <a href="/sampleblog" class="">Course</a>
                            <a href="/sampleblog" class="">Study</a>
                            <a href="/sampleblog" class="">Marketing</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //single post -->
    <div style="margin: 8px auto; display: block; text-align:center;">

        <!---728x90--->

    </div>


        <%- include('footer') %>


        <!-- Js scripts -->
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-level-up" aria-hidden="true"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- //move top -->

        <!-- common jquery plugin -->
        <script src="assets/js/jquery-3.3.1.min.js"></script>
        <!-- //common jquery plugin -->

        <!-- theme switch js (light and dark)-->
        <script src="assets/js/theme-change.js"></script>
        <script>
            function autoType(elementClass, typingSpeed) {
                var thhis = $(elementClass);
                thhis.css({
                    "position": "relative",
                    "display": "inline-block"
                });
                thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
                thhis = thhis.find(".text-js");
                var text = thhis.text().trim().split('');
                var amntOfChars = text.length;
                var newString = "";
                thhis.text("|");
                setTimeout(function () {
                    thhis.css("opacity", 1);
                    thhis.prev().removeAttr("style");
                    thhis.text("");
                    for (var i = 0; i < amntOfChars; i++) {
                        (function (i, char) {
                            setTimeout(function () {
                                newString += char;
                                thhis.text(newString);
                            }, i * typingSpeed);
                        })(i + 1, text[i]);
                    }
                }, 1500);
            }

            $(document).ready(function () {
                // Now to start autoTyping just call the autoType function with the 
                // class of outer div
                // The second paramter is the speed between each letter is typed.   
                autoType(".type-js", 200);
            });
        </script>
        <!-- //theme switch js (light and dark)-->

        <!-- MENU-JS -->
        <script>
            $(window).on("scroll", function () {
                var scroll = $(window).scrollTop();

                if (scroll >= 80) {
                    $("#site-header").addClass("nav-fixed");
                } else {
                    $("#site-header").removeClass("nav-fixed");
                }
            });

            //Main navigation Active Class Add Remove
            $(".navbar-toggler").on("click", function () {
                $("header").toggleClass("active");
            });
            $(document).on("ready", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
                $(window).on("resize", function () {
                    if ($(window).width() > 991) {
                        $("header").removeClass("active");
                    }
                });
            });
        </script>
        <!-- //MENU-JS -->

        <!-- disable body scroll which navbar is in active -->
        <script>
            $(function () {
                $('.navbar-toggler').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>
        <!-- //disable body scroll which navbar is in active -->

        <!--bootstrap-->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- //bootstrap-->
        <!-- //Js scripts -->


        <div id="v-w3layouts"></div>
        <script>
            (function (v, d, o, ai) {
                ai = d.createElement('script');
                ai.defer = true;
                ai.async = true;
                ai.src = v.location.protocol + o;
                d.head.appendChild(ai);
            })(window, document, '//a.vdo.ai/core/v-w3layouts/vdo.ai.js');
        </script>
    </body>

</html>