<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>3-GB - Blogs</title>
    <!-- google-fonts -->
    <link rel="icon" href="assets/images/circle.ico" height="16px" type="x-icon" />

    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link rel="stylesheet" href="assets/css/style-liberty.css">
</head>

<body>
    <script>
        (function() {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function() {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
            }
        })();
    </script>


    <meta name="robots" content="noindex">

    <body>
        <link rel="stylesheet" href="/assests/css/font-awesome.min.css">
        <!-- New toolbar-->
        <style>
            * {
                box-sizing: border-box;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            }


            #w3lDemoBar.w3l-demo-bar {
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 9999;
                padding: 40px 5px;
                padding-top: 70px;
                margin-bottom: 70px;
                background: #0D1326;
                border-top-left-radius: 9px;
                border-bottom-left-radius: 9px;
            }

            #w3lDemoBar.w3l-demo-bar a {
                display: block;
                color: #e6ebff;
                text-decoration: none;
                line-height: 24px;
                opacity: .6;
                margin-bottom: 20px;
                text-align: center;
            }

            #w3lDemoBar.w3l-demo-bar span.w3l-icon {
                display: block;
            }

            #w3lDemoBar.w3l-demo-bar a:hover {
                opacity: 1;
            }

            #w3lDemoBar.w3l-demo-bar .w3l-icon svg {
                color: #e6ebff;
            }

            #w3lDemoBar.w3l-demo-bar .responsive-icons {
                margin-top: 30px;
                border-top: 1px solid #41414d;
                padding-top: 40px;
            }

            #w3lDemoBar.w3l-demo-bar .demo-btns {
                border-top: 1px solid #41414d;
                padding-top: 30px;
            }

            #w3lDemoBar.w3l-demo-bar .responsive-icons a span.fa {
                font-size: 26px;
            }

            #w3lDemoBar.w3l-demo-bar .no-margin-bottom {
                margin-bottom: 0;
            }

            .toggle-right-sidebar span {
                background: #0D1326;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #e6ebff;
                border-radius: 50px;
                font-size: 26px;
                cursor: pointer;
                opacity: .5;
            }

            .pull-right {
                float: right;
                position: fixed;
                right: 0px;
                top: 70px;
                width: 90px;
                z-index: 99999;
                text-align: center;
            }

            /* ============================================================
        RIGHT SIDEBAR SECTION
        ============================================================ */

            #right-sidebar {
                width: 90px;
                position: fixed;
                height: 100%;
                z-index: 1000;
                right: 0px;
                top: 0;
                margin-top: 60px;
                -webkit-transition: all .5s ease-in-out;
                -moz-transition: all .5s ease-in-out;
                -o-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
                overflow-y: auto;
            }


            /* ============================================================
        RIGHT SIDEBAR TOGGLE SECTION
        ============================================================ */

            .hide-right-bar-notifications {
                margin-right: -300px !important;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }



            @media (max-width: 992px) {
                #w3lDemoBar.w3l-demo-bar a.desktop-mode {
                    display: none;

                }
            }

            @media (max-width: 767px) {
                #w3lDemoBar.w3l-demo-bar a.tablet-mode {
                    display: none;

                }
            }

            @media (max-width: 568px) {
                #w3lDemoBar.w3l-demo-bar a.mobile-mode {
                    display: none;
                }

                #w3lDemoBar.w3l-demo-bar .responsive-icons {
                    margin-top: 0px;
                    border-top: none;
                    padding-top: 0px;
                }

                #right-sidebar,
                .pull-right {
                    width: 90px;
                }

                #w3lDemoBar.w3l-demo-bar .no-margin-bottom-mobile {
                    margin-bottom: 0;
                }
            }
        </style>

<%- include('header') %>

        
        <div style="margin: 8px auto; display: block; text-align:center;">
            <!---728x90--->
        </div>
        <!-- single post -->
        <!-- blog page -->
        <section class="w3l-blog">
            <div class="text-element-9 py-5">
                <div class="container py-md-5 py-4">
                    <div class="row grid-text-9">
                        <div class="col-lg-8">
                            <div class="single-bottom-blog">
                                <div class="top-bg bg-img">
                                    <img src="https://miro.medium.com/max/1050/1*vOc_hckyamKWpCe-TzmioQ.jpeg" alt="" class="img-fluid img-responsive" />
                                </div>
                                <div class="bottom-grid mt-4 pt-md-2">
                                    <ul class="blog-author-date mb-sm-4 mb-3 d-flex justify-content-between align-items-end">
                                        <li class="author"><a href="https://shivangi-160997.medium.com/"><i class="fa fa-user mr-1" aria-hidden="true"></i>By Shivangi Garg</a></li>
                                        <li><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>May 26, 2021</li>
                                    </ul>
                                    <h3>2 Minutes with AI and The Future of Mankind!</h3>
                                    <p>Every age has its scientific discoveries and inventions. But today’s scientific advancement can impact globally
                                        in very short time. Such is the progress made in the field of artificial intelligence or AI.</p>
                                    <p>If we talk about AI in simple terms, machines and computers learning, thinking
                                        and doing what human intelligence does. Instead of doing certain tasks repeatedly, with AI, machines
                                        operates from the data that we feed them with to recognize human voices, use human language, drive cars or
                                        even the ability to suggest the next course of treatment or an article or book you might like to read.</p>
                                    <p>
                                        Artificial Intelligence is something which impacts our everyday life. If you have ever used a Google search engine
                                        they will give you optimised, so near what you asked for results based on AI. On another extreme AI is used in robotics
                                        or even in weaponry which can function without human aid.
                                    </p>
                                    <!-- <div class="container mb-4 justify-content-center">
                                        <div class="column">
                                    <div class="box13">
                                        <a href="#gallery-36"><img src="assets/images/c3.jpg" alt=""
                                                class="img-fluid" /></a>
                                    </div>
                                </div>
                                        <div class="column">
                                            <div class="box13">
                                                <a href="#gallery-36"><img src="https://miro.medium.com/max/773/1*h027knCEHFGKZzDnfSzaEQ.png" alt="" class="img-fluid" /></a>
                                            </div>
                                        </div>
                                    </div> -->
                                    <p><b>Why is there a surge in the field of AI? </b> Several thrusts can be pointed out,p.
                                        But science and technology is trying to create a super intelligence that can outperform human
                                        beings not just in specific tasks but in complex cognitive activity which includes decision making,
                                        problem-solving, memory, speech recognition, Attention and judgement.</p>
                                </div>
                                <!-- bottom -->
                                <!-- <div class="d-grid grid-columns mb-4">
                                    <div class="column">
                                    <div class="box13">
                                        <a href="#gallery-36"><img src="assets/images/c3.jpg" alt=""
                                                class="img-fluid" /></a>
                                    </div>
                                </div>
                                    <div class="column">
                                        <div class="box13">
                                            <a href="#gallery-36"><img src="assets/images/c4.jpg" alt="" class="img-fluid" /></a>
                                        </div>
                                    </div>
                                </div> -->

                                <p class="para-single">
                                    This can lead mankind to a life of ease like never
                                    known before when lot of what they had to perform is done to perfection with the help of AI aided
                                    robots or machines. Butt then there is a danger here.<b> What is AI through some chance or misjudged
                                        human calculation acquires smarter intelligence that can control human beings or wreck disaster unheard of?</b></p>
                                <p>Yes, there are benefits of AI that we are yet to see that far outweighs these assumed dangers. Maybe no one can stop
                                    the march of science or those with scientific pursuit and perseverance who are passionately working in Research and
                                    Development of AI. Soon someday what many thoughts as science fiction, which people read about in novels or watched in
                                    movies as future becomes real and operational now.</p>
                                <p><b>If AI creates automated jobs in plenty, will that replace much of human skill and labor?</b>
                                    That might be an interesting question of concern to many.<b> Or will AI create more careers or at least
                                        offer a few career paths which intelligent kids might be tempted to pursue?</b></p>
                                <p>In Conclusion, There was a time called the beginning when God created man in his image and likeness. But man running
                                    independent of God is capable of acts and deeds that mar the purpose for which man was created. We see the impact of
                                    that in the environment as well as in senseless destruction through wars and man’s greed.</p>
                                <p>Likewise AI created by man to have a complex ability to think and act like human beings can act
                                    in destructive mood if something goes wrong. Hacking and programming errors or even robot is
                                    starting to communicate with each other in a language man will not be able to understand can
                                    well be the nightmare of tomorrow.</p>
                                <div class="buttons-singles">
                                    <a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                    <a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                    <a href="#google-plus"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                    <a href="#pinterest"><span class="fa fa-pinterest-p" aria-hidden=" true"></span></a>
                                </div>

                                <div class="single-pagination clearfix">
                                    <a class="prev-post pull-left" href="/blogs"><span class="fa fa-arrow-left" aria-hidden="true"></span>
                                        Back to Blogs</a>
                                    <!-- <a class="next-post pull-right" href="#next">Next Post <span class="fa fa-arrow-right"
                                        aria-hidden="true"></span></a> -->
                                </div>

                                <div class="comments mt-5">
                                    <h3 class="post-title">Comments</h3>
                                    <div class="media mt-4 bod-1">
                                        <div class="img-circle">
                                            <img src="assets/images/team1.jpg" class="img-fluid" alt="...">
                                        </div>
                                        <div class="media-body">
                                            <div class="medi-top mb-2">
                                                <a href="#URL" class="name mt-0">John smi</a>
                                                <span>14 Sep, 2020 </span>
                                            </div>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                                sollicitudin. Cras purus tempus viverra turpis. Fusce nunc ac in vulputate
                                                odio, in vulputate at, nunc ac.</p>
                                            <a href="#reply" class="rep">Reply</a>
                                            <div class="media mt-4 bod-2 mb-0 pb-0 px-0">
                                                <a class="img-circle img-circle-sm" href="#">
                                                    <img src="assets/images/team2.jpg" class="img-fluid" alt="...">
                                                </a>
                                                <div class="media-body">
                                                    <div class="medi-top mb-2">
                                                        <a href="#URL" class="name mt-0">Alexander</a>
                                                        <span>14 Sep, 2020 </span>
                                                    </div>
                                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                                        scelerisque ante
                                                        sollicitudin. Cras purus odio, vestibulum at.</p>
                                                    <a href="#reply" class="rep">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="media bod-3">
                                        <div class="img-circle">
                                            <img src="assets/images/team3.jpg" class="img-fluid" alt="...">
                                        </div>
                                        <div class="media-body">
                                            <div class="medi-top mb-2">
                                                <a href="#URL" class="name mt-0">Elizabeth</a>
                                                <span>14 Sep, 2020 </span>
                                            </div>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                                sollicitudin. Cras purus
                                                odio, in vulputate at, viverra turpis, ac.</p>
                                            <a href="#reply" class="rep">Reply</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="reply mt-5">
                                    <h3 class="post-title py-3 mb-2">Add a Comment</h3>
                                    <form action="#" method="POST">
                                        <div class="form-group reply">
                                            <div class="row">
                                                <div class="col-sm-6 leave-coment-left">
                                                    <input type="text" name="Name" class="form-control" placeholder="Name" required="">
                                                </div>
                                                <div class="col-sm-6 leave-coment-right">
                                                    <input type="email" name="Email" class="form-control" placeholder="Email" required="">
                                                </div>
                                            </div>
                                            <textarea class="form-control" placeholder="Your Message" id="exampleFormControlTextarea1" rows="4"></textarea>
                                            <div class="text-right">
                                                <button class="btn btn-style btn-style-secondary mt-4" type="submit">Post
                                                    Now</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 left-text-9 mt-lg-0 mt-5 pl-lg-4">
                            <div class="blog-search">
                                <form action="#" method="GET" class="d-flex search-form">
                                    <input type="search" class="form-control" placeholder="Search..." name="search" required="required">
                                    <button type="submit" class="btn search-btn"><span class="fa fa-search"></span></button>
                                </form>
                            </div>

                            <div class="categories left-aside mt-5">
                                <h6 class="heading-small-text-9">Categories</h6>
                                <ul>
                                    <li>
                                        <a href="/sampleblog-1" class="">
                                            Artificial Intelligence</a>
                                    </li>
                                    <li>
                                        <a href="/sampleblog-3" class="">
                                            E-Learning</a>
                                    </li>
                                    <li>
                                        <a href="/sampleblog-3" class="">
                                            O3 Education</a>
                                    </li>
                                    <li>
                                        <a href="/sampleblog-2" class=""> Technology</a>
                                    </li>
                                    <li>
                                        <a href="/sampleblog-3" class="">
                                            Tutoring</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="left-top-9 left-aside mt-5">
                                <h6 class="heading-small-text-9 mb-3">Popular Post</h6>
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/blog1.jpg" alt="" class="img-fluid mr-3" />
                                    <div class="content-blog">
                                        <a href="/sampleblog-1" class="p-post d-block">
                                            <h6 class="text-left-inner-9">Sed ut unde omnis iste natus
                                            </h6>
                                        </a>
                                        <span class="sub-inner-text-9">May 06, 2021</span>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center mt-4">
                                    <img src="assets/images/blog2.jpg" alt="" class="img-fluid mr-3" />
                                    <div class="content-blog">
                                        <a href="/sampleblog-2" class="p-post d-block">
                                            <h6 class="text-left-inner-9">Wotam rem eaque ipsa quae ab
                                            </h6>
                                        </a>
                                        <span class="sub-inner-text-9">May 06, 2021</span>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center mt-4">
                                    <img src="assets/images/blog3.jpg" alt="" class="img-fluid mr-3" />
                                    <div class="content-blog">
                                        <a href="/sampleblog-3" class="p-post d-block">
                                            <h6 class="text-left-inner-9">Quia sit aut odit aut fugit
                                            </h6>
                                        </a>
                                        <span class="sub-inner-text-9">May 06, 2021</span>
                                    </div>
                                </div>
                            </div>

                            <div class="categories left-aside mt-5">
                                <h6 class="heading-small-text-9">Archives</h6>
                                <ul>
                                    <li>
                                        <a href="/sample-blog" class="">January 2019</a>
                                    </li>
                                    <li>
                                        <a href="/sample-blog" class="">February 2018</a>
                                    </li>
                                    <li>
                                        <a href="/sample-blog" class="">March 2018</a>
                                    </li>
                                    <li>
                                        <a href="/sample-blog" class="">April 2017</a>
                                    </li>

                                    <li>
                                        <a href="/sample-blog" class="">May 2016</a>
                                    </li>

                                </ul>
                            </div>

                            <div class="tags-block left-aside mt-5">
                                <h6 class="heading-small-text-9">Tags</h6>
                                <a href="/sample-blog" class="">Learn</a>

                                <a href="/sample-blog" class="">Skills</a>

                                <a href="/sample-blog" class="">Education</a>

                                <a href="/sample-blog" class="">Website</a>

                                <a href="/sample-blog" class="">Course</a>
                                <a href="/sample-blog" class="">Study</a>
                                <a href="/sample-blog" class="">Marketing</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- //single post -->
        <div style="margin: 8px auto; display: block; text-align:center;">

            <!---728x90--->

        </div>

        <%- include('footer') %>


        <!-- Js scripts -->
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-level-up" aria-hidden="true"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- //move top -->

        <!-- common jquery plugin -->
        <script src="assets/js/jquery-3.3.1.min.js"></script>
        <!-- //common jquery plugin -->

        <!-- theme switch js (light and dark)-->
        <script src="assets/js/theme-change.js"></script>
        <script>
            function autoType(elementClass, typingSpeed) {
                var thhis = $(elementClass);
                thhis.css({
                    "position": "relative",
                    "display": "inline-block"
                });
                thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
                thhis = thhis.find(".text-js");
                var text = thhis.text().trim().split('');
                var amntOfChars = text.length;
                var newString = "";
                thhis.text("|");
                setTimeout(function() {
                    thhis.css("opacity", 1);
                    thhis.prev().removeAttr("style");
                    thhis.text("");
                    for (var i = 0; i < amntOfChars; i++) {
                        (function(i, char) {
                            setTimeout(function() {
                                newString += char;
                                thhis.text(newString);
                            }, i * typingSpeed);
                        })(i + 1, text[i]);
                    }
                }, 1500);
            }

            $(document).ready(function() {
                // Now to start autoTyping just call the autoType function with the 
                // class of outer div
                // The second paramter is the speed between each letter is typed.   
                autoType(".type-js", 200);
            });
        </script>
        <!-- //theme switch js (light and dark)-->

        <!-- MENU-JS -->
        <script>
            $(window).on("scroll", function() {
                var scroll = $(window).scrollTop();

                if (scroll >= 80) {
                    $("#site-header").addClass("nav-fixed");
                } else {
                    $("#site-header").removeClass("nav-fixed");
                }
            });

            //Main navigation Active Class Add Remove
            $(".navbar-toggler").on("click", function() {
                $("header").toggleClass("active");
            });
            $(document).on("ready", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
                $(window).on("resize", function() {
                    if ($(window).width() > 991) {
                        $("header").removeClass("active");
                    }
                });
            });
        </script>
        <!-- //MENU-JS -->

        <!-- disable body scroll which navbar is in active -->
        <script>
            $(function() {
                $('.navbar-toggler').click(function() {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>
        <!-- //disable body scroll which navbar is in active -->

        <!--bootstrap-->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- //bootstrap-->
        <!-- //Js scripts -->


        <div id="v-w3layouts"></div>
        <script>
            (function(v, d, o, ai) {
                ai = d.createElement('script');
                ai.defer = true;
                ai.async = true;
                ai.src = v.location.protocol + o;
                d.head.appendChild(ai);
            })(window, document, '//a.vdo.ai/core/v-w3layouts/vdo.ai.js');
        </script>
    </body>

</html>