<footer class="w3l-footer-22 position-relative mt-5 pt-5">
    <div class="footer-sub">
        <div class="container">
            <div class="text-txt">
                <div class="right-side">
                    <!-- form section -->
                    <div class="row align-items-center w3l-forms-9">
                        <div class="main-midd col-md-5">
                            <h4 class="title-head mb-lg-2">Subscribe to get latest Academic Updates </h4>
                            <p>Newsletter</p>
                        </div>
                        <div class="main-midd-2 col-md-5 mt-md-5 mt-4">
                            <form action="/subscribe" method="POST" class="rightside-form">
                                <input type="email" class="form-control" name="email"
                                    placeholder="Enter your email" required>
                                <button class="btn" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                    <!-- //form section -->
                </div>
                <div class="row sub-columns">
                    <div class="col-lg-2 col-sm-6 sub-two-right pl-lg-5 mt-lg-0 mt-sm-5 mt-4">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="/about"><span class="fa fa-angle-double-right mr-2"></span>About</a>
                            </li>
                            <li><a href="/soon"><span class="fa fa-angle-double-right mr-2"></span>Micro
                                    Courses</a>
                            </li>
                        </li>
                            <li><a href="/find-tutor"><span class="fa fa-angle-double-right mr-2"></span>Find a
                                    Tutor</a></li>
                            <li><a href="/"><span class="fa fa-angle-double-right mr-2"></span>Free
                                    Demo</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 sub-two-right pl-lg-5 mt-lg-0 mt-sm-5 mt-4">
                        <h6>Help & Support</h6>
                        <ul>
                            <li><a href="https://wa.me/919350227009"><span class="fa fa-angle-double-right mr-2"></span>Live
                                    Chat</a></li>
                            <li><a href="/FAQ"><span class="fa fa-angle-double-right mr-2"></span>FAQ</a>
                            </li>
                            <li><a href="/contact"><span
                                        class="fa fa-angle-double-right mr-2"></span>Support</a>
                            </li>
                            <li><a href="/service"><span class="fa fa-angle-double-right mr-2"></span>Terms
                                    of Services</a></li>
                            <li><a href="/PrivacyPolicy"><span class="fa fa-angle-double-right mr-2"></span>Privacy Policy</a>
                                
                            <li><a href="/disclaimer"><span class="fa fa-angle-double-right mr-2"></span>Disclaimer</a>
                        </ul>
                        
                    </div>
                    <div class="col-lg-3 col-sm-6 sub-one-left pl-lg-5 mt-lg-0 mt-sm-5 mt-4">
                        <h6>Contact </h6>
                        <div class="column2">
                            <div class="href1"><span class="fa fa-envelope-o" aria-hidden="true"></span><a
                                    href="mailto:support@3-gb.com">support@3-gb.com</a>
                            </div>
                            <div class="href2"><span class="fa fa-phone" aria-hidden="true"></span><a
                                    href="tel:+9350227009">+91 9350227009</a>
                            </div>
                            <div>
                                <p class="contact-para"><span class="fa fa-map-marker" aria-hidden="true"></span><a
                                        href='/contact'>Radaur, Haryana</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 sub-one-left ab-right-cont pl-lg-5 mt-lg-0 mt-sm-5 mt-4">
                        <h6>About </h6>
                        <p>This platform is the culmination of a long research based on problems faced by teachers
                            and students while interacting with each other on online platforms.
                            We aim to make learning easy,personalised,affordable and interactive while creating no
                            sort of burden on students and teachers.</p>
                        <div class="columns-2">
                            <ul class="social">
                                <li><a href="https://wa.me/919350227009"><span class="fa fa-whatsapp"
                                            aria-hidden="true"></span></a>
                                </li>
                                <li><a href="https://www.linkedin.com/company/3-ground-breakers"><span
                                            class="fa fa-linkedin" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="https://twitter.com/Shivangigarg160"><span class="fa fa-twitter"
                                            aria-hidden="true"></span></a>
                                </li>
                                <li><a href="https://www.instagram.com/3gbeducation/"><span class="fa fa-instagram"
                                            aria-hidden="true"></span></a>
                                </li>
                                <li><a href="https://www.facebook.com/3gbeducation"><span class="fa fa-facebook"
                                            aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="copyright-footer text-center">
        <div class="container">
            <div class="columns">
                <p>@2021 3-gb. All rights reserved. Design by <span><a href="/team">Team</a></span></a>
                </p>
            </div>
        </div>
    </div>
    <!-- //copyright -->
</footer>
