<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>3-GB - Privacy Policy</title>
    <!-- google-fonts -->
    <link rel="icon" href="assets/images/circle.ico" height="16px" type="x-icon" />

    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link rel="stylesheet" href="assets/css/style-liberty.css">
</head>

<body>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
            }
        })();
    </script>


    <meta name="robots" content="noindex">

    <body>
        <!-- <link rel="stylesheet" href="/assests/css/font-awesome.min.css"> -->
        <!-- New toolbar-->
        <style>
            * {
                box-sizing: border-box;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            }


            #w3lDemoBar.w3l-demo-bar {
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 9999;
                padding: 40px 5px;
                padding-top: 70px;
                margin-bottom: 70px;
                background: #0D1326;
                border-top-left-radius: 9px;
                border-bottom-left-radius: 9px;
            }

            #w3lDemoBar.w3l-demo-bar a {
                display: block;
                color: #e6ebff;
                text-decoration: none;
                line-height: 24px;
                opacity: .6;
                margin-bottom: 20px;
                text-align: center;
            }

            #w3lDemoBar.w3l-demo-bar span.w3l-icon {
                display: block;
            }

            #w3lDemoBar.w3l-demo-bar a:hover {
                opacity: 1;
            }

            #w3lDemoBar.w3l-demo-bar .w3l-icon svg {
                color: #e6ebff;
            }

            #w3lDemoBar.w3l-demo-bar .responsive-icons {
                margin-top: 30px;
                border-top: 1px solid #41414d;
                padding-top: 40px;
            }

            #w3lDemoBar.w3l-demo-bar .demo-btns {
                border-top: 1px solid #41414d;
                padding-top: 30px;
            }

            #w3lDemoBar.w3l-demo-bar .responsive-icons a span.fa {
                font-size: 26px;
            }

            #w3lDemoBar.w3l-demo-bar .no-margin-bottom {
                margin-bottom: 0;
            }

            .toggle-right-sidebar span {
                background: #0D1326;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #e6ebff;
                border-radius: 50px;
                font-size: 26px;
                cursor: pointer;
                opacity: .5;
            }

            .pull-right {
                float: right;
                position: fixed;
                right: 0px;
                top: 70px;
                width: 90px;
                z-index: 99999;
                text-align: center;
            }

            /* ============================================================
        RIGHT SIDEBAR SECTION
        ============================================================ */

            #right-sidebar {
                width: 90px;
                position: fixed;
                height: 100%;
                z-index: 1000;
                right: 0px;
                top: 0;
                margin-top: 60px;
                -webkit-transition: all .5s ease-in-out;
                -moz-transition: all .5s ease-in-out;
                -o-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
                overflow-y: auto;
            }


            /* ============================================================
        RIGHT SIDEBAR TOGGLE SECTION
        ============================================================ */

            .hide-right-bar-notifications {
                margin-right: -300px !important;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }



            @media (max-width: 992px) {
                #w3lDemoBar.w3l-demo-bar a.desktop-mode {
                    display: none;

                }
            }

            @media (max-width: 767px) {
                #w3lDemoBar.w3l-demo-bar a.tablet-mode {
                    display: none;

                }
            }

            @media (max-width: 568px) {
                #w3lDemoBar.w3l-demo-bar a.mobile-mode {
                    display: none;
                }

                #w3lDemoBar.w3l-demo-bar .responsive-icons {
                    margin-top: 0px;
                    border-top: none;
                    padding-top: 0px;
                }

                #right-sidebar,
                .pull-right {
                    width: 90px;
                }

                #w3lDemoBar.w3l-demo-bar .no-margin-bottom-mobile {
                    margin-bottom: 0;
                }
            }
            .const{
                font-weight: bold;
            }
            .what-collected{
                list-style-type: circle;
            }
        </style>

<%- include('header') %>

       <!-- //inner banner -->
       <div style="margin: 8px auto; display: block; text-align:center;">
        <!---728x90--->
    </div>
    <!-- single post -->
    <!-- blog page -->
    <section class="w3l-blog">
        <div class="text-element-9 py-5">
            <div class="container py-md-5 py-4">
                <div class="row grid-text-9">
                    <div class="col-lg-8">
                        <div class="single-bottom-blog">
                            <div class="top-bg bg-img">
                                <img src="https://store.hp.com/app/assets/images/uploads/prod/updating-privacy-policy-hero1561043982812535.jpg?impolicy=prdimg&imdensity=1&imwidth=1000" alt="" class="img-fluid img-responsive" />
                            </div>
                            <div class="bottom-grid mt-4 pt-md-2">
                                <ul class="blog-author-date mb-sm-4 mb-3 d-flex justify-content-between align-items-end">
                                    <li class="author"><a href="https://www.3-gb.com/"><i class="fa fa-user mr-1" aria-hidden="true"></i>3GB Education</a></li>
                            </div>       
                        
                                </ul>
                                <h3>Privacy Policy for 3-gb</h3>
                                <ol>
                                    <li>
                                        <p>● At 3-GB Education, accessible from<a href="https://www.3-gb.com/"> https://www.3-gb.com</a>, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by 3-GB Education and how we use it.</p>
                                    </li>
                                    <li>
                                        <p>● If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
                                    </li>
                                    <li>
                                        <p>● This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collected in 3-GB Education. This policy is not applicable to any information collected offline or via channels other than this website. Our Privacy Policy was created with the help of the Free Privacy Policy Generator.</p>
                                    </li>

                                <h6 class="const">Consent</h6>
                                <li><p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p></li>

                                </ol>
                                
                                    
                                
                                <div class="container mb-4 justify-content-center">
                                    <!-- <div class="column">
                                <div class="box13">
                                    <a href="#gallery-36"><img src="assets/images/c3.jpg" alt=""
                                            class="img-fluid" /></a>
                                </div>
                            </div>
                                <div class="column">
                                    <div class="box13">
                                        <a href="#gallery-36"><img src="assets/images/c4.jpg" alt="" class="img-fluid" /></a>
                                    </div>
                                </div>
                            </div> -->
                            <h5><b>1.INFORMATION WE COLLECTED.</b></h5>
                                
                                        <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
                                        
                                        <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>

                                        <p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>
                            <h4><b>2.HOW WE USE YOUR INFORMATION?</b></h4>
                                    <p>We use the information we collect in various ways, including to:</p>
                                <ol type="circle">
                                <li>
                                    ● Provide, operate, and maintain our website.
                                </li>
                                <li>
                                    ● Improve, personalize, and expand our website.
                                </li>
                                <li>
                                    ● Understand and analyze how you use our website.
                                </li>
                                <li>
                                    ● Develop new products, services, features, and functionality.
                                </li>
                                <li>
                                    ● Communicate with you, either directly or through one of our partners,  &nbsp;&nbsp;&nbsp;including for customer service, to provide you with updates and other  &nbsp;&nbsp;&nbsp;information relating to the website, and for marketing and promotional  &nbsp;&nbsp;&nbsp;purposes.
                                </li>
                                <li>
                                    ● Send you emails.
                                </li>
                                <li>
                                    ● Find and prevent fraud.
                                </li>
                            </ol>
                            <h4><b>3.LOG FILES</b></h4>
                                    <p>3-GB Education follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>
                            
                            <h4><b>4.COOKIES AND WEB BEACONS</b></h4>
                        
                                    <p>Like any other website, 3-GB Education uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>
                               
                            <h4><b>5.ADVERTISING PARTNERS PRIVACY POLICIES</b></h4>
                            
                                    <p>You may consult this list to find the Privacy Policy for each of the advertising partners of 3-GB Education.</p>
                               
                                    <p>Third-party ad servers or ad networks use technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on 3-GB Education, which are sent directly to users' browsers. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
                                
                                    <p>Note that 3-GB Education has no access to or control over these cookies that are used by third-party advertisers.</p>
                             

                            <h4><b>6.THIRD PARTY PRIVACY POLICIES</b></h4>
                            
                                    <p>3-GB Education's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.</p>
                                
                                    <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.
                                    </p>
                             
                            <h4><b>7.CCPA PRIVACY RIGHTS (Do Not Sell My Personal Information)</b></h4>
                                <p>Under the CCPA, among other rights, California consumers have the right to:</p>
                                <ol type="circle">
                                <li>
                                    Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.
                                </li>
                                <li>
                                    Request that a business delete any personal data about the consumer that a business has collected.
                                </li>
                                <li>
                                    Understand and analyze how you use our website.
                                </li>
                                <li>
                                    Request that a business that sells a consumer's personal data, not sell the consumer's personal data.
                                </li>
                                <li>
                                    If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.
                                </li>
                            </ol>       

                            
                    </div>
                            <h4><b>8.GDPR DATA PROTECTION RIGHTS</b></h4>
                            
                                <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>

                                <ol>
                                <li>
                                    <p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
                                </li>

                                <li>
                                    <p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
                                </li>

                                <li>
                                    <p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
                                </li>

                                <li>
                                    <p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
                                </li>

                                <li>
                                    <p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
                                </li>

                                <li>
                                    <p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>

                                    <li>
                                        <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
                                    </li>
                                </li>
                            </ol>

                            <h4><b>9.CHILDREN's INFORMATION</b></h4>
                            
                                    <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
                                
                                    <p>3-GB Education does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
                                
                  </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- //single post -->
    <div style="margin: 8px auto; display: block; text-align:center;">

        <!---728x90--->

    </div>


        <%- include('footer') %>


        <!-- Js scripts -->
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-level-up" aria-hidden="true"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- //move top -->

        <!-- common jquery plugin -->
        <script src="assets/js/jquery-3.3.1.min.js"></script>
        <!-- //common jquery plugin -->

        <!-- theme switch js (light and dark)-->
        <script src="assets/js/theme-change.js"></script>
        <script>
            function autoType(elementClass, typingSpeed) {
                var thhis = $(elementClass);
                thhis.css({
                    "position": "relative",
                    "display": "inline-block"
                });
                thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
                thhis = thhis.find(".text-js");
                var text = thhis.text().trim().split('');
                var amntOfChars = text.length;
                var newString = "";
                thhis.text("|");
                setTimeout(function () {
                    thhis.css("opacity", 1);
                    thhis.prev().removeAttr("style");
                    thhis.text("");
                    for (var i = 0; i < amntOfChars; i++) {
                        (function (i, char) {
                            setTimeout(function () {
                                newString += char;
                                thhis.text(newString);
                            }, i * typingSpeed);
                        })(i + 1, text[i]);
                    }
                }, 1500);
            }

            $(document).ready(function () {
                // Now to start autoTyping just call the autoType function with the 
                // class of outer div
                // The second paramter is the speed between each letter is typed.   
                autoType(".type-js", 200);
            });
        </script>
        <!-- //theme switch js (light and dark)-->

        <!-- MENU-JS -->
        <script>
            $(window).on("scroll", function () {
                var scroll = $(window).scrollTop();

                if (scroll >= 80) {
                    $("#site-header").addClass("nav-fixed");
                } else {
                    $("#site-header").removeClass("nav-fixed");
                }
            });

            //Main navigation Active Class Add Remove
            $(".navbar-toggler").on("click", function () {
                $("header").toggleClass("active");
            });
            $(document).on("ready", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
                $(window).on("resize", function () {
                    if ($(window).width() > 991) {
                        $("header").removeClass("active");
                    }
                });
            });
        </script>
        <!-- //MENU-JS -->

        <!-- disable body scroll which navbar is in active -->
        <script>
            $(function () {
                $('.navbar-toggler').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>
        <!-- //disable body scroll which navbar is in active -->

        <!--bootstrap-->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- //bootstrap-->
        <!-- //Js scripts -->


        <div id="v-w3layouts"></div>
       
    </body>

</html>
