.wrappr {
  background: #fdfeff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  height : 650px;
}
.wrappr .profile {
  margin-top: 2em;
  position: relative;
}
.wrappr .profile:after {
  width: 100%;
  height: 1px;
  content: " ";
  display: block;
  margin-top: 1em;
  background: #e9eff6;
}
.wrappr .profile .pic {
  width: 150px;
  height: 150px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  border-radius: 100%;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}
.wrappr .profile .name {
  color: #2d354a;
  text-align: center;
  /* font-size: 2.5rem; */
}
.wrappr .profile .sub {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0.5rem 0 1rem 0;
}
.wrappr .profile .description {
  color: #2c2c2c;
  /* font-size: 1.2rem; */
}
.wrappr .profile .btn {
  display: block;
  width: 100%;
  margin: 2rem auto;
  align-self: baseline;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  display: block;
  padding: 0px 30px;
  color: #fff;
  height: 46px;
  font-size: 16px;
  line-height: 42px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  background: #FF6E65;
  transition: 0.3s ease-out;
}

.wrappr.profile.btn:hover{
  background: #0C4972;
  color: #fff;
  transition: 0.3s ease-out;
}

/* Added by Raunak */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  grid-gap: 1rem;
  margin-top: 4rem;
}
.grid > div > h5 {
  font-weight: 500;
  color: #2c2c2c;
}
.grid > div > p {
  font-size: 0.8rem;
}
.grid div {
  margin: 1rem 0;
}
/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: none;
}
.inner-modal {
  height: 75vh;
  width: 75%;
  padding-bottom: 2rem;
}
.modal-header {
  float: right;
  height: 10%;
  width: 100%;
  /* background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#6452e9),
    to(#639ff9)
  ); */
  background-color: #0C4972;
  padding: 2rem 2rem;
}
.modal-header h1 {
  float: right;
  cursor: pointer;
}
.content {
  border-radius: 10px;
  height: 95%;
  width: 100%;
  padding: 1rem 0;
  display: flex;
}
.content .left {
  width: 35%;
  padding-top: 2rem;
  text-align: center;
}
.content .left p {
  margin: 1rem 0;
}
.content .right {
  width: 65%;
  padding: 2rem 4rem 0 2rem;
  overflow: auto;
}

.content .left img {
  height: 200px;
  width: 200px;
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
  margin-bottom: 3em;
  border-radius: 100%;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}
.content .right p {
  margin: 0 2.5rem;
}
.fa-quote-right {
  float: right;
}

.content .right::-webkit-scrollbar {
  width: 5px;
  background: #39307d;
}
.content .right::-webkit-scrollbar-thumb {
  background: #b9b9b9;
}

@media (max-width: 1000px) {
  .inner-modal {
    height: 90vh;
    width: 90%;
  }
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content .left {
    width: 80%;
    /* height: 40%; */
    border-bottom: 1px solid #eeeeee;
  }
  .content .left img {
    height: 130px;
    width: 130px;
  }
  .content .right {
    width: 100%;
    height: 60%;
    margin-top: 1rem;
  }
  .content .right p {
    margin: 0 1rem;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
}

@media (max-width: 1500px) {
  .inner-modal {
    width: 90%;
  }
}

/* added by pradeepa */
i.fas.fa-times{
  color : white
}